{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans object.title %}{% endblock %}

{% block main %}
    <div class="main item-desc">
        <div class="wrapp item-detail">
            <div class="row">
                <div class="col-md-5">
                    <a href="#" class="thumbnail"><img class="img-responsive shadow" src="{{ object.main_image.url }}" title="" alt=""></a>
                    <div class="wrapp-btn">
                        <a href="#" class="btn btn-primary btn-sm">Добавить в избранное</a>
                        <a href="#" class="btn btn-primary btn-sm">Добавить в избранное</a>
                    </div>
                </div>
                <div class="col-md-14">
                    <h1>{{ object.title|capfirst }}<br/>
                        <small>{{ object.origin_title }}</small>
                    </h1>

                    {% for attr in object.item_attr.all %}
                        <div class="row">
                            <div class=" col-md-7">
                                <span>{{ attr.attribute }}:</span>
                            </div>
                            <div class="col-md-17">
                                {% for value in attr.attribute_values.all|slice:":3" %}
                                    <a class="btn btn-primary btn-xs">{{ value }}</a>
                                {% endfor %}

                                {% with attribute_values=attr.attribute_values.all|slice:"3:" %}
                                    {% if attribute_values %}
                                        <a class="btn btn-primary btn-xs" id="btn-more-{{ forloop.counter }}"
                                           onclick="$('#btn-more-{{ forloop.counter }}').addClass('none');
                                                   $('#more-desc-{{ forloop.counter }}').removeClass('none');
                                                   $('#more-desc-{{ forloop.counter }}').addClass('block'); ">
                                            еще
                                        </a>
                                        <div class="more-desc none" id="more-desc-{{ forloop.counter }}">
                                            {% for value in attribute_values %}
                                                <a class="btn btn-primary btn-xs">{{ value }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row vertical-offset-md">
                        {% for item_image in object.images.all %}
                            <div class="col-md-4 wrapp-block">
                                <a href="{{ item_image.pk }}" >
                                    <img alt="{{ item_image.title }}" title="{{ item_image.title }}" src="{{ item_image.image.url }}" class="img-responsive">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row rating">
                        <div class="col-md-9">
                            <span>Оценки пользователей</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 75%">
                                    <span class="sr-only">75% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 25%">
                                    <span class="sr-only">25% Complete (danger)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 section">
                            <div class="like pull-left"><span>144</span></div>
                            <div class="not-like pull-left"><span>1223</span></div>
                        </div>
                        <div class="col-md-9 section">
                            <a class="btn btn-danger btn-xs">Не нравиться</a>
                            <a class="btn btn-success btn-xs">Нравиться</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <span>Трейлер</span>
                </div>
            </div>

            <div class="row share-net">
                <div class="col-md-12">
                    <span>Понравился фильм? Поделись с друзьями!</span>
                </div>
                <div class="col-md-12">
                </div>
            </div>

            <div class="row description">
                <div class="col-xs-24">
                    {{ object.description }}
                </div>
            </div>

            {% if object.tags %}
                <ul>
                    {% for tag in object.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if recommend_item %}
                <div class="row related">
                    <h3>Похожие материалы</h3>

                    {% for item in recommend_item %}
                        <div class="col-md-3">
                            <a href="{{ item.get_absolute_url }}" class="item">
                                <img class="img-responsive shadow img-rounded" src="{{ item.main_image.url }}">
                                <div class="title">{{ item.title|truncatechars:20 }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="new_comment">
                {% if comment_success_save %}
                    <div class="alert alert-success" role="alert">{{ comment_success_save }}</div>
                {% endif %}

                <form action="{{ object.get_absolute_url }}" method="post">
                    {% csrf_token %}
                    <ul>
                        {{ form_comment.as_p }}
                    </ul>
                    <div class="pull-left">
                        {{ user }}
                    </div>
                    <div class="pull-right">
                        <input type="submit" value="Submit"/>
                    </div>
                </form>
            </div>

            <div class="row comments">
                <div class="col-md-24">
                    <h3>Лучшие отзывы</h3>
                    <div class="">
                        {{ count_comments }}
                    </div>
                </div>

                {% for comment in object.comments.all %}
                    <div class="col-md-24 comment {% if comment.like_object %}positive{% else %}negative{% endif %}">

                        <div class="row">
                            <div class="col-md-2">
                                <a href="#">
                                    <img class="img-user img-responsive img-rounded" src="{{ comment.user.ex_user.img.url }}">
                                </a>
                            </div>
                            <div class="col-md-22">
                                <div class="name pull-left"><a href="">{{ comment.user }}</a></div>
                                <div class="date pull-left"><span>{{ comment.date_create }}</span></div>
                                <div class="help-comment pull-right">
                                    <span>Отзыв был полезен?</span>
                                    <a href="#" class="btn btn-default btn-xs">
                                        Да<span class="pos-number">{{ comment.like }}</span>
                                    </a>
                                    <a href="#" class="btn btn-default btn-xs">
                                        Нет<span class="negat-number">{{ comment.not_like }}</span>
                                    </a>
                                </div>
                                <div class="comment-text">
                                    <p>{{ comment.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="rasparovka"></div>
    </div>
{% endblock %}
