/*серый фон страницы*/
/*специфический голубой фон данного дизайна*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют голубой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
h1 {
  margin-top: 0px;
  font-size: 20px;
}
p {
  margin: 20px 0;
}
.form-control {
  box-shadow: none;
}
.vertical-offset-md {
  margin-top: 7px;
  margin-bottom: 7px;
}
.reset-padding {
  padding: 0px;
}
.col {
  padding: 0px;
}
.col-align-left {
  padding-left: 0px;
}
.none {
  display: none;
}
.margin-xs {
  margin: 10px 0px;
}
.item {
  color: #0b4f98;
}
.item:hover {
  color: #0b4f98;
}
.green {
  background: #62b56d;
}
.red {
  background: #c33e43;
}
html {
  height: 100%;
}
.display {
  display: table-cell;
}
.film {
  background: url(../images/btn.png) no-repeat;
  width: 34px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.music {
  background: url("../images/btn.png") no-repeat 9px -735px transparent;
  width: 100%;
  height: 45px;
  display: block;
}
.tradition {
  background: url("../images/btn.png") no-repeat scroll 4px -1197px transparent;
  width: inherit;
  height: 33px;
  display: block;
}
.block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.shadow {
  box-shadow: 4px 1px 2px #000;
}
.shadow-item {
  box-shadow: 0 1px 4px 0 #000;
}
h3 {
  margin-top: 0px;
}
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #385161;
}
.like {
  font-size: 14px;
  color: #62b56d;
  height: 20px;
  background: url(../images/vote.png) no-repeat 0 0;
  padding-left: 16px;
  margin-right: 2px;
}
.errorlist {
  color: #ff3535;
}
.not-like {
  font-size: 14px;
  color: #c33e43;
  height: 20px;
  background: url(../images/vote.png) no-repeat 0 -30px;
  padding-left: 16px;
}
body {
  background: url(../images/bg.png);
  height: 100%;
}
body .wrapper {
  padding: 50px 0px 0px 0px;
}
body .container {
  height: 100%;
}
body .container .content {
  min-height: 100%;
  margin-bottom: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 15px #000000;
}
body .container .content header {
  color: #b0cded;
}
body .container .content header a {
  color: #b0cded;
}
body .container .content header .navbar-default .navbar-nav > .open > a {
  background: #272727;
}
body .container .content header form input,
body .container .content header form button {
  height: 26px;
}
body .container .content header form .form-group {
  width: 264px;
}
body .container .content header form .form-control {
  width: 100%;
}
body .container .content header form .item-search {
  margin-top: 10px;
  overflow: hidden;
}
body .container .content header form .item-search .title {
  line-height: 20px;
}
body .container .content header form .item-search:first-child {
  margin-top: 0;
}
body .container .content header form .glyphicon {
  top: -1px;
}
body .container .content header nav {
  background: url(../images/nav_bar_top.png) bottom repeat-x;
  height: 38px;
  min-height: 38px;
  border: none;
  width: 980px;
  margin: 0 auto;
}
body .container .content header nav .dropdown-menu {
  background-color: #1C2940;
}
body .container .content header nav .container {
  padding-left: 5px;
  padding-right: 5px;
}
body .container .content header nav .container ul,
body .container .content header nav .container .logo,
body .container .content header nav .container form {
  float: left;
}
body .container .content header nav .container .logo {
  background: url(../images/logo.png) center no-repeat;
  width: 100px;
  height: 38px;
}
body .container .content header nav .container > ul > li a {
  position: relative;
  color: #b0cded;
}
body .container .content header nav .container > ul > li .btn {
  text-align: left;
}
body .container .content header nav .container > ul > li > a {
  line-height: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
}
body .container .content header nav .container > ul > li > a:hover,
body .container .content header nav .container > ul > li > a:focus {
  background-color: #272727;
  color: #b0cded;
}
body .container .content header nav .container > ul > li .dropdown-menu a {
  position: relative;
  line-height: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
}
body .container .content header nav .container > ul > li .dropdown-menu a:hover,
body .container .content header nav .container > ul > li .dropdown-menu a:focus {
  background-color: #3B4D65;
}
body .container .content header nav .container li.active > a {
  background-color: #272727;
  color: #ffffff;
}
body .container .content header nav .container .pull-right {
  height: 100%;
  line-height: 34px;
}
body .container .content header nav .container .pull-right .navbar-form {
  margin: 0;
  position: relative;
}
body .container .content header nav .container .pull-right .navbar-form .search {
  background: #f3f3f3;
  position: absolute;
  top: 5px;
  left: -37px;
}
body .container .content header nav .container .pull-right .navbar-form .ac-results {
  border-radius: 5px;
  background: #0f5fa5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0f5fa5 0%, #0f5495 32%, #0a498c 73%, #0f3571 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f5fa5), color-stop(32%, #0f5495), color-stop(73%, #0a498c), color-stop(100%, #0f3571));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0f5fa5 0%, #0f5495 32%, #0a498c 73%, #0f3571 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0f5fa5 0%, #0f5495 32%, #0a498c 73%, #0f3571 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0f5fa5 0%, #0f5495 32%, #0a498c 73%, #0f3571 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0f5fa5 0%, #0f5495 32%, #0a498c 73%, #0f3571 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f5fa5', endColorstr='#0f3571', GradientType=0);
  padding: 10px;
  line-height: 20px;
  font-size: 13px;
}
body .container .content header nav .container .pull-right form .input-group-btn button {
  background: url(../images/search.png) center no-repeat;
}
body .container .content header nav .container .pull-right .welcome {
  float: left;
}
body .container .content header nav .container .pull-right a:first-child {
  margin-right: 5px;
}
body .container .content header:before,
body .container .content header:after {
  content: " ";
  display: table;
}
body .container .content header:after {
  clear: both;
}
body .container .content .main .pagination li.active a {
  color: #3f6288;
}
body .container .content .main .wrapp {
  padding: 15px;
}
body .container .content .main .wrapp h2 {
  margin-top: 5px;
}
body .container .content .main .popular a {
  color: #0D5096;
  display: block;
}
body .container .content .main .popular a:hover {
  text-decoration: underline;
}
body .container .content .main .popular a .title {
  margin-top: 10px;
}
body .container .content .main .menu {
  background-color: #f2f2f2;
  background: url(../images/menu_bg.png);
}
body .container .content .main .menu .games > div > div,
body .container .content .main .menu .video > div > div,
body .container .content .main .menu .audio > div > div,
body .container .content .main .menu .lit > div > div {
  margin-bottom: 9px;
}
body .container .content .main .menu .now .title {
  color: #0D5096;
  text-decoration: underline;
}
body .container .content .main .menu a.btn {
  width: 100%;
}
body .container .content .main .menu .col,
body .container .content .main .menu .col-small {
  padding: 0px;
}
body .container .content .main .menu .video {
  border-right: 1px solid #dcdcdc;
}
body .container .content .main .menu .video a {
  color: #0071bc;
}
body .container .content .main .menu .video a:hover {
  color: #0071bc;
}
body .container .content .main .menu .video .btn {
  color: #0071bc;
}
body .container .content .main .menu .video .btn:hover {
  background: #e6f4ff;
  border-color: #a0cfe2;
}
body .container .content .main .menu .video .btn-md {
  text-align: left;
}
body .container .content .main .menu .video .btn-sm {
  text-align: center;
}
body .container .content .main .menu .audio {
  border-right: 1px solid #dcdcdc;
}
body .container .content .main .menu .audio .menu-item {
  margin-left: -5px;
  margin-right: -5px;
}
body .container .content .main .menu .audio .menu-item .btn-item {
  width: 50%;
  padding: 0px 5px;
}
body .container .content .main .menu .audio .btn-sm {
  padding: 5px 5px;
}
body .container .content .main .menu .audio a {
  color: #873B3C;
}
body .container .content .main .menu .audio a:hover {
  color: #873B3C;
}
body .container .content .main .menu .audio .btn {
  color: #873B3C;
}
body .container .content .main .menu .audio .btn:hover {
  background: #FFE7E8;
  border-color: #e8acaf;
}
body .container .content .main .menu .games {
  border-right: 1px solid #DCDCDC;
}
body .container .content .main .menu .games .menu-item {
  margin-left: -5px;
  margin-right: -5px;
}
body .container .content .main .menu .games .menu-item .btn-item {
  width: 50%;
  padding: 0px 5px;
}
body .container .content .main .menu .games .menu-item .btn-item:first-child {
  width: 100%;
}
body .container .content .main .menu .games .btn-sm {
  padding: 5px 5px;
}
body .container .content .main .menu .games a {
  color: #518c57;
}
body .container .content .main .menu .games a:hover {
  color: #518c57;
}
body .container .content .main .menu .games .btn {
  color: #518c57;
}
body .container .content .main .menu .games .btn:hover {
  background: #c5edc7;
  border-color: #8dcc90;
}
body .container .content .main .menu .lit a {
  color: #694e7d;
}
body .container .content .main .menu .lit a:hover {
  color: #694e7d;
}
body .container .content .main .menu .lit .menu-item {
  margin-left: -5px;
  margin-right: -5px;
}
body .container .content .main .menu .lit .menu-item .btn-item-full {
  padding: 0px 5px;
}
body .container .content .main .menu .lit .menu-item .btn-item {
  width: 50%;
  padding: 0px 5px;
}
body .container .content .main .menu .lit .btn-sm {
  padding: 5px 5px;
}
body .container .content .main .menu .lit .btn-md {
  text-align: left;
}
body .container .content .main .menu .lit .btn-sm {
  text-align: center;
}
body .container .content .main .menu .lit .btn {
  color: #694e7d;
}
body .container .content .main .menu .lit .btn:hover {
  background: #f9f0ff;
  border-color: #b99bcf;
}
body .container .content .main .menu .lit .col-small a.btn {
  padding: 5px 3px;
  text-align: center;
}
body .container .content .main .materials .bx-wrapper .bx-viewport {
  box-shadow: none;
  -webkit-box-shadow: none;
}
body .container .content .main .materials .bxslider {
  margin-left: 0px;
}
body .container .content .main .materials a .title {
  color: #0071bc;
  text-decoration: underline;
  text-transform: capitalize;
}
body .container .content .main .materials .item {
  border-right: 1px solid #dbe1da;
  overflow: hidden;
  padding: 10px;
  margin: 20px 7px;
}
body .container .content .main .materials .item:hover {
  border-radius: 4px;
}
body .container .content .main .materials .detail {
  margin-top: 10px;
  color: #385161;
  margin-bottom: 10px;
  font-size: 11px;
  height: 144px;
  overflow: hidden;
}
body .container .content .main .materials .detail .left,
body .container .content .main .materials .detail .right {
  width: 50%;
}
body .container .content .main .materials .detail .option {
  padding-top: 5px;
}
body .container .content .main .materials .detail .text {
  line-height: 14px;
  padding-top: 5px;
  height: 35px;
}
body .container .content .main .materials .comment {
  margin: 2px 0px;
  padding: 6px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 15px;
}
body .container .content .main .materials .comment .comment-text {
  margin-bottom: 10px;
}
body .container .content .main .materials .rating {
  border-radius: 4px;
  padding: 2px;
}
body .container .content .main .materials .comment-like {
  color: #4a6b46;
  background: #e9fae7;
}
body .container .content .main .materials .comment-like .rating {
  color: #006837;
  background-color: #a6e0ae;
}
body .container .content .main .materials .comment-not-like {
  color: #94583f;
  background: #f2dcdc;
}
body .container .content .main .materials .comment-not-like .rating {
  color: #6e2407;
  background-color: #e69090;
}
body .container .content .main .new a {
  color: #333;
}
body .container .content .main .new .link-item {
  margin-bottom: 10px;
}
body .container .content .main .new .item {
  line-height: 17px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  padding-top: 10px;
}
body .container .content .main .new .item:hover {
  background: #F6F6F1;
}
body .container .content .main .new .item .title {
  color: #694E7D;
  font-size: 14px;
}
body .container .content .main .new .item .category {
  margin: 5px 0px;
  font-size: 11px;
}
body .container .content .main .new .item .short_desc {
  font-size: 12px;
}
body .container .content .main .new .item .bottom {
  margin-top: 10px;
  background: #EFEFE6;
  color: #9B9A88;
  font-size: 11px;
  padding: 0px 10px;
}
body .container .content .main .category .btn-default {
  color: #057cd0;
  border: 1px solid #eaf3f8;
}
body .container .content .main .category .btn-default:hover {
  background-color: #e6f4ff;
}
body .container .content .main .category .sub-cat {
  border: 1px solid #f5fcff;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  word-wrap: break-word;
}
body .container .content .main .category .sub-cat .text {
  margin-top: 5px;
  display: block;
}
body .container .content .main .category a {
  margin-bottom: 5px;
}
body .container .content .main .category .heading {
  color: #576e7c;
  font-size: 15px;
  margin: 5px 0px;
  font-weight: bold;
}
body .container .content .main .list-item {
  padding-top: 20px;
}
body .container .content .main .list-item .breadcrumb {
  background-color: #ffffff;
  padding-left: 0px;
  padding-top: 0px;
}
body .container .content .main .list-item .breadcrumb li.active a {
  font-weight: bold;
  pointer-events: none;
}
body .container .content .main .list-item .breadcrumb > li + li:before {
  content: '> ';
}
body .container .content .main .list-item .breadcrumb a {
  font-size: 17px;
  color: #0b4f98;
}
body .container .content .main .list-item .group {
  margin: 0px;
}
body .container .content .main .list-item .group .item {
  position: relative;
  padding: 10px 9px;
}
body .container .content .main .list-item .group .item span {
  color: #385161;
}
body .container .content .main .list-item .group .item .short_title {
  height: 60px;
  margin-top: 5px;
}
body .container .content .main .list-item .group .item .full_title {
  display: none;
}
body .container .content .main .list-item .group .item .full_title .short_desc {
  font-size: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
body .container .content .main .list-item .group .item .full_title .quality {
  line-height: 18px;
}
body .container .content .main .list-item .group .item .full_title .quality .hd {
  background: url(../images/video_quality.png) no-repeat 0 0;
  width: 21px;
  height: 14px;
}
body .container .content .main .list-item .group .item .full_title .quality .hq {
  background: url(../images/video_quality.png) no-repeat 0px -25px;
  width: 21px;
  height: 14px;
}
body .container .content .main .list-item .group .item .full_title .quality .hd,
body .container .content .main .list-item .group .item .full_title .quality .hq {
  display: inline-block;
  vertical-align: middle;
}
body .container .content .main .list-item .group .item .empty {
  display: none;
  height: 65px;
}
body .container .content .main .list-item .group .item:hover {
  padding: 10px 8px 9px 8px;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}
body .container .content .main .list-item .group .item:hover > a img {
  box-shadow: none;
}
body .container .content .main .list-item .group .item:hover > a .empty {
  display: block;
}
body .container .content .main .list-item .group .item:hover > a .short_title {
  display: none;
}
body .container .content .main .list-item .group .item:hover > a .full_title {
  display: block;
  margin-top: -60px;
  background: white;
  position: absolute;
  z-index: 999;
  padding: 0px 8px;
  padding-bottom: 9px;
  left: -1px;
  right: -1px;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}
body .container .content .main .list-item .group a {
  color: #0b4f98;
  font-size: 14px;
  text-decoration: none;
}
body .container .content .main .list-item nav {
  text-align: center;
}
body .container .content .main .rasparovka {
  height: 0px;
}
body .container .content .item-desc {
  background: url(../images/blue-sky.png) repeat-x;
  border-radius: 4px 4px 0px 0px;
}
body .container .content .item-desc .item-detail .wrapp-btn {
  text-align: center;
}
body .container .content .item-desc .item-detail .cancel_vote {
  color: #ffffff;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 5px;
}
body .container .content .item-desc .item-detail .cancel_vote a {
  margin-left: 10px;
  color: #cdedd8;
  border-bottom: 1px dashed;
}
body .container .content .item-desc .item-detail .cancel_vote a:hover {
  text-decoration: none;
}
body .container .content .item-desc .item-detail .vertical-offset-md {
  margin-right: -3px;
  margin-left: -3px;
}
body .container .content .item-desc .item-detail .vertical-offset-md .wrapp-block {
  padding-left: 3px;
  padding-right: 3px;
}
body .container .content .item-desc .item-detail .btn {
  margin-bottom: 4px;
}
body .container .content .item-desc .item-detail h1 small,
body .container .content .item-desc .item-detail h1 {
  color: #3f6288;
}
body .container .content .item-desc .item-detail .progress {
  margin-bottom: 0px;
}
body .container .content .item-desc .item-detail .rating {
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #E6E6E6;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
body .container .content .item-desc .item-detail .rating .like {
  margin-right: 7px;
}
body .container .content .item-desc .item-detail .rating .like,
body .container .content .item-desc .item-detail .rating .not-like {
  font-size: 18px;
}
body .container .content .item-desc .item-detail .rating .progress {
  height: 11px;
}
body .container .content .item-desc .item-detail .rating .progress .progress-bar {
  line-height: 11px;
}
body .container .content .item-desc .item-detail .rating .section {
  padding: 5px;
}
body .container .content .item-desc .item-detail .rating .btn {
  margin: 0px;
}
body .container .content .item-desc .item-detail .shadow {
  box-shadow: 2px 2px 2px 0px #818A95;
}
body .container .content .item-desc .item-detail .share-net {
  background: url(../images/share_net.png);
  height: 46px;
  line-height: 46px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}
body .container .content .item-desc .item-detail .description {
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #BDD5E6;
}
body .container .content .item-desc .item-detail .related {
  margin: 0px;
  background: #F1F5F9;
  padding: 5px;
  border-radius: 5px;
}
body .container .content .item-desc .item-detail .related h3 {
  font-weight: bold;
}
body .container .content .item-desc .item-detail .new_comment {
  margin: 10px 0;
}
body .container .content .item-desc .item-detail .new_comment textarea {
  width: 100%;
  border-radius: 5px;
}
body .container .content .item-desc .item-detail .comments {
  margin: 0px;
  margin-top: 20px;
}
body .container .content .item-desc .item-detail .comments .comment {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
body .container .content .item-desc .item-detail .comments .comment .img-user {
  max-width: 50px;
  max-height: 50px;
}
body .container .content .item-desc .item-detail .comments .comment span,
body .container .content .item-desc .item-detail .comments .comment a {
  font-size: 10px;
}
body .container .content .item-desc .item-detail .comments .comment p {
  font-size: 12px;
}
body .container .content .item-desc .item-detail .comments .comment a {
  color: #0b4f98;
}
body .container .content .item-desc .item-detail .comments .comment .date {
  color: #808080;
  line-height: 22px;
}
body .container .content .item-desc .item-detail .comments .comment .name {
  margin-right: 10px;
}
body .container .content .item-desc .item-detail .comments .comment .name a {
  font-size: 12px;
  text-decoration: underline;
}
body .container .content .item-desc .item-detail .comments .comment .name a:hover {
  text-decoration: none;
}
body .container .content .item-desc .item-detail .comments .comment .pos-number,
body .container .content .item-desc .item-detail .comments .comment .negat-number {
  margin-left: 5px;
}
body .container .content .item-desc .item-detail .comments .comment .pos-number {
  color: green;
}
body .container .content .item-desc .item-detail .comments .comment .negat-number {
  color: red;
}
body .container .content .item-desc .item-detail .comments .comment .comment-text {
  color: #000;
  clear: both;
  margin-top: 34px;
}
body .container .content .item-desc .item-detail .comments .positive {
  background: #ECFFE8;
  border: 1px solid #BAE8C2;
}
body .container .content .item-desc .item-detail .comments .negative {
  background: #FFE8E8;
  border: 1px solid #E8BABA;
}
body .container .content .item-edit .fieldWrapper {
  margin-bottom: 10px;
}
body .container .content .item-edit .fieldWrapper .btn {
  margin-bottom: 10px;
}
body .container .content .item-edit .fieldWrapper .add_content {
  margin-top: 10px;
}
body .container .content .search .group .item {
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #f0f6f9;
  border-radius: 5px;
  padding: 10px;
}
body .container .content .search .group .item:hover {
  background-color: #f0f6f9;
}
body .container .content .search .group .item .title {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
}
body .container .content .search .group .item .category {
  overflow: hidden;
}
body .container .content .search .group .item .category .label-bl {
  margin-right: 10px;
}
body .container .content .search .group .item .desc {
  font-size: 13px;
  clear: both;
  color: #3a3233;
  margin: 10px 0;
}
body .container .content footer {
  margin-top: 0px;
}
